# Improve classification accuracy/appearance on GitHub
/eqn/eqntest.a               linguist-language=Roff
/eqn/NEW                     linguist-language=Markdown
/grap/grap.202               linguist-language=Roff
/grap/grap.defines           linguist-language=Roff
/grap/WISH                   linguist-language=Text
/ideal/ideal.cmd             linguist-language=Shell
/ideal/RAW_FORMAT            linguist-language=Text
/ideal/idfilt/dot            linguist-language=Roff
/ideal/lib/*                 linguist-language=Roff
/ideal/tests/*.i             linguist-language=Roff
/ideal/tests/*.new           linguist-language=Roff
/ideal/tests/*.out           linguist-language=Roff
/ideal/tests/regress         linguist-language=Shell
/neqn/e.def                  linguist-language=C
/pic/pictest.a               linguist-language=Roff
/pic/PS-PEmacros             linguist-language=Roff
/pic/UNDOC                   linguist-language=Text
/refer/lookbib               linguist-language=Shell
/refer/pubindex              linguist-language=Shell
/tbl/comp*                   linguist-language=Shell
/tbl/jcomp*                  linguist-language=Shell
/tbl/samples.a               linguist-language=Roff
/troff/README                linguist-language=Markdown
/troff/dev*/install          linguist-language=Shell
/troff/dev202/makefont       linguist-language=Shell
/troff/dev202/newfonts       linguist-language=Shell
/troff/dev202/shipout        linguist-language=Shell
/troff/devaps/awk.script     linguist-language=Awk
/troff/devaps/fixkern        linguist-language=Shell
/troff/devi10/jim.recover    linguist-language=Shell
